%h1 All Providers

%ul
  - @providers.each do |provider|
    %li
      = link_to provider.name, provider_path(provider.id)
      = provider.city
      = provider.insurers.map { |ins| ins.name } .join(", ")

= link_to providers_path do
  %button Clear Search