.row
  .col-xs-12
    %h1 All Providers

.row
  .col-xs-0.col-sm-2
  .col-xs-12.col-sm-8
    %table.tablesorter
      %thead
        %th Name
        %th City
        %th Insurers
      %tbody
        - @providers.each do |provider|
          %tr
            %td= link_to provider.name, provider_path(provider.id)
            %td= provider.city
            %td= provider.insurers.map { |ins| ins.name } .join(", ")
  .col-xs-0.col-sm-2

.row
  .col-xs-12
    = link_to providers_path do
      %button Clear Search