.row
  .col-xs-12.col-sm-5
    = render 'providers/quick_search_form'

  .about.col-xs-12.col-sm-7.text-center
    %h2 About
    %p The Queer Healthcare Accountability Coalition (QuHAC) is a group of lesbian, gay, bisexual, trangender, queer/questioning (LGBTQ) and allied Seattle residents working together to ensure that our community has access to high quality, competent healthcare across Seattle. We believe that by working together across identities and neighborhoods, we can build a centralized resource that will be widely available and will link LGBTQ city residents to the healthcare services they need, from providers they can trust.
    %p
      Like QuHAC on
      %a{href: "https://www.facebook.com/quhac", target: "_blank"} Facebook!
    %p
      We are a project housed under
      %a{href: "http://www.gaycity.org", target: "_blank"} Gay City Health Project.
      Need LGBTQ-friendly resources beyond healthcare access? Check out
      %a{href: "https://www.gaycity.org/resources/", target: "_blank"} Gay City's online resource pages.
    %p
      Our project has been generously funded by a grant from the
      %a{href: "http://www.seattle.gov/neighborhoods/", target: "_blank"}Seattle Department of Neighborhoods.
