
.row
  .col-xs-12.col-sm-8.col-sm-offset-2.advanced-search
    .col-xs-12
      %h1.text-center Advanced Search
    = render 'providers/filtering_form'


  .col-xs-4.col-xs-offset-4
    = link_to providers_path do
      .btn.btn-link.grey-button.adv-grey.btn-box-shadow Browse All Providers
