.row
  .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.contact
    .row
      .col-xs-12
        %h2 Contact QuHac

        %p Use the form below to reach the QuHac team, or send an email to quhac@gaycity.org

    .row
      .col-xs-12
        =form_tag("/submit_contact", method: "post") do
          %fieldset
            %label{for: "name"} Your Name
            %input{type: "text", name: "name", placeholder:"Name"}

          %fieldset
            %label{for: "email"}
              Your Email Address
              %small if you'd like a reply
            %input{type: "email", name: "email", placeholder:"Email Address"}

          %fieldset.comments
            %label{for: "comments"} Comments
            %input{type: "text", name: "comments", required: "required", placeholder:"Comments"}

          %input{type: "hidden", name: "robots_are_dumb"}

          %fieldset
            %input.base-submit{type: "submit"}

.row
  .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3
    %p QuHAC's contributers are:
    %p
      Web development and design:
      %a{href: "http://dinosaurparty.info/", target: "_blank"} Cheri Allen
      and
      %a{href: "http://theutahkate.com/", target: "_blank"} Utah Newman
    %p
      Graphic design:
      %a{href: "http://sarahrosenblatt.tumblr.com/", target: "_blank"} Sarah Rosenblatt
    %p
      Project coordination:
      %a{href: "mailto:emmett@gaycity.org?subject=QuHacSiteContact"} Emmett Stanfield
      and
      %a{href: "mailto:genya@qcardproject.org?subject=QuHacSiteContact"} Genya Shimkin
