p {margin: 0}

.card {
  margin-bottom: 3rem;
  padding: 4rem 0;
  background-color: whitesmoke;
  border-left: 12px solid $brand-primary;
  img {
    max-width: 125px;
    margin-top: 1rem;
  }
}

.provider-index-head {
  margin-bottom: 3rem;
  h3 {margin: 0;}
  p {font-size: 1.8rem;}
}

.card-fill {padding-left: 2.5rem;}