p {margin: 0}

.results-head {
  background-color: $black;
  color: $white;
  padding-bottom: 1rem;
  margin: -1rem 0 3rem;
  border-top: 2px solid $white;
  h2 {font-size: 4rem; font-weight: normal; padding-left: 0;}
}

.card {
  margin-bottom: 3rem;
  padding: 4rem 0;
  background-color: $brand-light-gray;
  border-left: 10px solid $brand-primary;
  .icon {
    background-image: asset_url('QuHac-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1.5rem;
    @media (min-width: 993px) {min-width: 11rem; background-size: 11rem; height: 11rem; }
    @media (max-width: 992px) {min-width: 9rem; background-size: 9rem; height: 9rem; }
    @media (max-width: 768px) {min-width: 7rem; background-size: 7rem; height: 7rem; }
    @media (max-width: 650px) {display: none;}
    &.arnp {
      background-image: asset_url('arnp-icon.png');
    }
    &.cn {
      background-image: asset_url('cn-icon.png');
    }
    &.dc {
      background-image: asset_url('dc-icon.png');
    }
    &.eamp {
      background-image: asset_url('eamp-icon.png');
    }
    &.licsw {
      background-image: asset_url('licsw-icon.png');
    }
    &.lmft {
      background-image: asset_url('lmft-icon.png');
    }
    &.msw {
      background-image: asset_url('msw-icon.png');
    }
    &.pac {
      background-image: asset_url('pac-icon.png');
    }
    &.phd {
      background-image: asset_url('phd-icon.png');
    }
    &.psyd {
      background-image: asset_url('psyd-icon.png');
    }
  }
}

.provider-index-head {
  margin-bottom: 3rem;
  @media (max-width: 768px) {margin-bottom: 1rem;}
  h3 {margin: 0; font-size: 2.4rem;}
  p {font-size: 1.8rem;}
}

.address {
  @media (max-width: 768px) {margin-bottom: 1rem;}
}

.clr-search {
  width: 100%;
  float: none;
  margin: 0 auto 3rem;
  padding: 1rem 3rem;
  color: white;
  &:hover {text-decoration: none;}
}

p.question {
  font-weight: bold;
}
span.embedded-answer {
  color: $brand-primary;
}

.results-qs-container .quick-search {
  margin-top: 0;
}