.filter-big-row {
  padding: 1rem 0;
  margin-bottom: 3rem;
}

// make sure this select doesn't touch other styles site-wide
select {
  float: right;
  width: 60%;
  font-size: 1.4rem;
  outline-color: $brand-primary;
  &:focus {border: 1px solid $brand-primary;}
}

input[type="checkbox"] {
  float: right;
}

input[type="submit"].grey-button,
input[type="reset"] {
  border-color: transparent;
  box-shadow: none;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .7rem;
  font-size: 1.6rem;
  margin: 1px 0;
  &:hover {
    text-decoration: underline;
    color: $brand-info;
  }
  &:focus {
    outline-color: $brand-primary;
  }
}

.insurers input[type="checkbox"] {
  float: none;
  margin: 0 3rem 0 .7rem;
}

.advanced-search {
  background-color: $brand-light-gray;
  margin-bottom: 5rem;
  color: $brand-dark-gray;
  h3 {margin-bottom: 2rem;}
  h2 {margin-top: 5rem; font-size: 4.5rem;}
  .base-submit {margin: 2px 0; border: none; color: $white;}
  .grey-button {padding: .7rem; font-size: 1.6rem;}
  label {font-weight: normal;}
}

