.filter-big-row {
  padding: 1rem 0;
  margin-bottom: 3rem;
  .base-submit {width: 100%;}
}

select {
  float: right;
  width: 60%;
  font-size: 1.6rem;
  outline-color: $brand-primary;

  -webkit-appearance: menu;
  -moz-appearance: menu;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 4px;
  -moz-padding-start: 4px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 3px;
  padding-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="checkbox"] {
  float: right;
}

input[type="submit"].grey-button,
input[type="reset"] {
  border-color: transparent;
  box-shadow: none;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .7rem;
  font-size: 1.6rem;
  margin: 1px 0;
  &:hover {
    text-decoration: underline;
    color: #337ab7;
  }
  &:focus {
    outline-color: $brand-primary;
  }
}

.adv-grey {margin-bottom: 3rem; padding: .7rem;}

.insurers input[type="checkbox"] {
  float: none;
  margin: 0 3rem 0 .7rem;
}

.advanced-search {
  border-left: 8px solid $brand-primary;
  background-color: $brand-light-gray;
  margin-bottom: 5rem;
  color: #555;
  h1, h2 {font-weight: bold;}
  h1 {margin-top: 5rem; font-size: 4.5rem;}
  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: $brand-primary;
  }
  .base-submit {margin: 2px 0; border: none; color: $white;}
  .grey-button {padding: .7rem; font-size: 1.6rem;}
  label {font-weight: normal;}
  @media (max-width: 500px) {
    margin: 0 0 5rem 0;
    width: 100%;
  }
}

